/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --header-theme-menu-color: #FF0070;
  --content-headers-color: #FF0070;
  --title-color: #000028;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --decoration-focus-color: #DB00FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --header-theme-menu-color: #FF0070;
    --content-headers-color: #FF0070;
    --title-color: #000028;
    --main-text-color: #F1B2CE;
    --accent-color: #FF0070;
    --decoration-focus-color: #DB00FF;
  }
}
