.page.theme_light {
  --background-color: #fff1f7;
  --header-theme-menu-color: #353430;
  --main-text-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --decoration-focus-color: #ffc2e6;
  background-image: url("/images/cover-image-light.png");
  --content-headers-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --header-theme-menu-color: #353430;
    --main-text-color: #353430;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --decoration-focus-color: #ffc2e6;
    background-image: url("/images/cover-image-light.png");
    --content-headers-color: #353430;
  }

  .page.theme_auto {
    background-image: url("/images/cover-image-light.png");
  }
}

.theme_light .header__decoration-rec,
.theme_auto .header__decoration-rec {
  display: none;
}
