.page {
  background-image: url("/images/cover-image-dark.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  font-size: var(--main-text-size);
  background-color: var(--background-color);
  line-height: var(--main-text-line-height);
}

.header {
  position: relative;
  block-size: 100vh;
  padding: var(--page-padding);
  display: grid;
  grid-template-rows: 1fr fit-content(100px) 1fr;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-block-start: 1px solid var(--header-theme-menu-color);
  border-inline-end: 1px solid var(--header-theme-menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--header-theme-menu-color);
  border-block-end: 1px solid var(--header-theme-menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--page-padding);
  inset-inline-start: var(--page-padding);
}

.header__decoration-rec {
  color: var(--header-theme-menu-color);
  position: absolute;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  text-transform: uppercase;
}

.header__decoration-rec::after {
  content: "";
  display: inline-block;
  margin-inline: 9px;
  margin-block-end: 1px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--header-theme-menu-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--header-theme-menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width > 768px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background: none;
  border: none;
  text-transform: lowercase;
  padding-inline: 13px;
}

.header__theme-menu-item:hover {
  outline: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 6px;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__decoration-focus {
  justify-self: start;
  align-self: start;
}

.decoration__focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--decoration-focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .decoration__focus {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__title {
  inline-size: max(355px, calc(100vw - 2 * var(--page-padding)) / 2);
  font-size: var(--main-text-size);
  font-weight: 700;
  justify-self: end;
  align-self: center;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

/* ОСНОВНОЙ КОНТЕНТ */

.content {
  line-height: 130%;
  margin: 0 auto;
  color: var(--main-text-color);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}

.content__text-section-header {
  font-size: var(--main-text-size);
  color: var(--content-headers-color);
  margin-block-end: 20px;
}

.content__decorated-title {
  font-size: var(--main-text-size);
  margin-block-end: 10px;
}

.content__decorated-title:not(:first-child) {
  margin-block-start: 20px;
}

.content__section-container,
.content__galery {
  padding-block: calc(4 * var(--page-padding)) var(--page-padding);
  padding-inline: var(--page-padding);
}

@media (width >= 768px) {
  .content__section-container,
  .content__galery {
    padding-block: calc(3 * var(--page-padding)) var(--page-padding);
  }
}

.content__galery-title {
  font-size: 18px;
  font-weight: 700;
  margin-block-end: var(--page-padding);
}

.content__galery {
  inline-size: 100%;
  padding-block-end: calc(4 * var(--page-padding));
}

.content__galery-picture {
  inline-size: 100%;
  display: block;
}

.content__galery-container {
  display: flex;
  flex-direction: column;
  gap: var(--page-padding);
}

@media (width >= 768px) {
  .content__galery {
    padding: 60px 20px;
  }

  .content__advice {
    font-weight: 400;
  }

  .content__section-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__section-container:nth-child(even) {
    display: block;
  }

  .content__text-section-header {
    max-inline-size: calc(100vw / 3 - 20px);
  }

  .content__galery-title {
  }

  .content__galery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__galery-picture {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content__galery-picture:first-of-type {
    grid-column: span 2;
  }

  .content__galery-picture:nth-of-type(2) {
    grid-row: span 2;
  }

  .content__galery-picture:nth-of-type(3) {
    grid-row: span 2;
  }

  .content__galery-picture:last-of-type {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .content__section-container {
    display: grid;
    grid-template-columns: 0.326fr 0.673fr;
    gap: 20px;
  }

  .content__section-container:nth-child(even) .content__text-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content(25px) 1fr;
    grid-auto-flow: column;
    grid-column-gap: 20px;
  }

  .content__section-container:nth-child(even) .content__decorated-title {
    margin-block-start: 0;
  }

  .content__decorated-title:first-child {
    margin-block-end: 10px;
  }
}

/* footer */

.footer {
  padding: var(--page-padding);
  position: relative;
  display: flex;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
}

.footer__decoration-focus {
  margin-inline-start: 4px;
}
